.App {
    text-align: center;
}
.Todo-App {
    padding-top: 35px;
    display: inline-block;
    text-align: left;
}

input {
    font-size: 20px;
}

ul {
    padding: 0px;
}

li {
    list-style-type: none;
}